     <!-- HEADER -->
        
                <ul class="nav_list">
                    <li class="nav_item">
                        <a href="../../index.html" class="nav_link">
                         <i class='bx bx-home-alt-2'></i>
                         <span class="nav_name">Home</span>
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="../AppViews/Search.html" class="nav_link">
                         <i class='bx bx-search-alt'></i>
                         <span class="nav_name">Search</span>
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="../AppViews/Notifications.html" class="nav_link">
                         <i class='bx bx-bell'></i>
                         <span class="nav_name">Notifications</span>
                        </a>
                    </li>
                    <li class="nav_item">
                        <a href="../AppViews/Profile.html" class="nav_link">
                         <i class='bx bx-user'></i>
                         <span class="nav_name">Profile</span>
                        </a>
                    </li>
                </ul>
          
