body {
  background-color: #d8f3dc;
  height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin: 0 5px 0 5px;
    font-size: 22px;
}

.main-container {
  padding: 20px;
}

.task {
  padding: 10px;
  margin: 10px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.task[contenteditable] {
  outline: none;
}

.task[contenteditable]:empty::before {
  content: attr(data-placeholder);
  color: #aaa;
}
